<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>User Management</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAddUserModal('POST')">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="full" button *ngFor="let user of users; let i = index" (click)="setActiveUser(user, i)">
      <ion-label>{{ user.firstName }} {{ user.lastName }}</ion-label>
      <ion-button slot="end" (click)="deleteUser(user, i)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

</ion-content>